:root {
  --sap-green: #58C6A1;
  --dark-green: #2a8869;
  --background-grey: #191b1f;
  --grey: #ccc;
  --off-white: rgb(248,248,255);
}

.light-mode {
  background: #ADEAEA;
}

.light-mode * {
  color: var(--background-grey);
}

* {
  color: white;
  font-family: 'MOntserrat', sans-serif;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--background-grey);
  padding: 10px 50px;
}

/* ------- CURSOR ------- */
#cursor {
  position: absolute;
  height: 50px;
  width: 50px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: 0.1s ease-in-out;
  transition: 0.1s ease-in-out;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border: 1px solid white;
  border-radius: 50%;
  pointer-events: none;
  -webkit-animation: pulse 1s linear infinite;
          animation: pulse 1s linear infinite;
}

@-webkit-keyframes pulse {
  0% {
    -webkit-transform: translate(-50%, -50%) scale(1);
            transform: translate(-50%, -50%) scale(1);
  }
  50% {
    -webkit-transform: translate(-50%, -50%) scale(1.5);
            transform: translate(-50%, -50%) scale(1.5);
  }
  100% {
    -webkit-transform: translate(-50%, -50%) scale(1);
            transform: translate(-50%, -50%) scale(1);
  }
}

@keyframes pulse {
  0% {
    -webkit-transform: translate(-50%, -50%) scale(1);
            transform: translate(-50%, -50%) scale(1);
  }
  50% {
    -webkit-transform: translate(-50%, -50%) scale(1.5);
            transform: translate(-50%, -50%) scale(1.5);
  }
  100% {
    -webkit-transform: translate(-50%, -50%) scale(1);
            transform: translate(-50%, -50%) scale(1);
  }
}

/* ------- MOBILE NAVIGATION ------- */
#mobile-menu {
  height: 100vh;
  width: 100vw;
  opacity: 0;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  top: 0;
  left: 0;
  background-color: #2a8869;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  z-index: -1;
}

#mobile-menu ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#mobile-menu ul li {
  font-size: 3em;
  margin-bottom: 20px;
}

#mobile-menu ul li a {
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

#mobile-menu ul li a:hover {
  color: var(--background-grey);
}

.hamburger {
  position: absolute;
  top: 20px;
  right: 15px;
  z-index: 5;
}

.hamburger .line {
  width: 30px;
  height: 2px;
  background-color: #ecf0f1;
  display: none;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.hamburger .line:nth-child(2) {
  width: 25px;
  margin-right: 0;
}

.hamburger:hover {
  cursor: pointer;
}

@-webkit-keyframes smallbig {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes smallbig {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.toggle-hamburger .hamburger {
  -webkit-animation: smallbig 0.6s forwards;
          animation: smallbig 0.6s forwards;
}

.toggle-hamburger .hamburger .line:nth-child(1), .toggle-hamburger .hamburger .line:nth-child(2), .toggle-hamburger .hamburger .line:nth-child(3) {
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
}

.toggle-hamburger .hamburger .line:nth-child(2) {
  opacity: 0;
}

.toggle-hamburger .hamburger .line:nth-child(1) {
  -webkit-transform: translateY(7px) rotate(45deg);
          transform: translateY(7px) rotate(45deg);
}

.toggle-hamburger .hamburger .line:nth-child(3) {
  -webkit-transform: translateY(-7px) rotate(-45deg);
          transform: translateY(-7px) rotate(-45deg);
}

.toggle-hamburger #mobile-menu {
  opacity: 1;
  z-index: 5;
}

.toggle-hamburger .social-icons ion-icon:hover {
  color: var(--background-grey);
}

/* ------- NAVIGATION BAR ------- */
nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 70px;
}

nav span a {
  font-weight: 200;
  text-decoration: none;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

nav span a:hover {
  color: var(--sap-green);
}

nav .link-holder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav .link-holder ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

nav .link-holder ul li {
  margin-left: 30px;
  color: red;
}

nav .link-holder ul li a {
  text-decoration: none;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

nav .link-holder ul li a:hover {
  color: var(--sap-green);
}

nav .link-holder .toggle-switch {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /* The switch - the box around the slider */
  /* Hide default HTML checkbox */
  /* The slider */
  /* Rounded sliders */
}

nav .link-holder .toggle-switch .switch-theme-text {
  font-weight: 200;
  margin-left: 50px;
}

nav .link-holder .toggle-switch .switch {
  position: relative;
  display: inline-block;
  width: 42px;
  height: 24px;
  margin-left: 10px;
}

nav .link-holder .toggle-switch .switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

nav .link-holder .toggle-switch .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

nav .link-holder .toggle-switch .slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

nav .link-holder .toggle-switch input:checked + .slider {
  background-color: white;
  border: black solid 2px;
}

nav .link-holder .toggle-switch input:checked + .slider:before {
  -webkit-transform: translate(16px, 2px);
  transform: translate(16px, 2px);
}

nav .link-holder .toggle-switch .slider {
  border-radius: 16px;
}

nav .link-holder .toggle-switch input:checked + .slider:before {
  background-color: black;
}

nav .link-holder .toggle-switch .slider.round:before {
  border-radius: 50%;
}

/* ------- HERO SECTION ------- */
.container {
  height: calc(100vh - 90px);
  padding: 0 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .hero h1 {
  font-size: 3em;
  margin-bottom: 30px;
}

.container .hero h2 {
  font-size: 1.8em;
  font-weight: 400;
  margin-bottom: 10px;
}

.container .hero h4 {
  font-size: 1.8em;
  font-weight: 200;
  margin: 10px 0;
}

.container .hero .projects-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 70px;
}

.container .hero .projects-link .gradient-border {
  background: -webkit-gradient(linear, left top, left bottom, from(#d53369), to(#daae51));
  background: linear-gradient(#d53369 0%, #daae51 100%);
  height: 160px;
  width: 5px;
  border-radius: 5px;
}

.container .hero .projects-link .portfolio-div {
  padding-left: 20px;
}

.container .hero .projects-link .portfolio-div p {
  font-size: 1rem;
}

.container .hero .projects-link .portfolio-div p a {
  color: var(--sap-green);
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.container .hero .projects-link .portfolio-div p a:hover {
  color: cyan;
}

.container .hero .projects-link .portfolio-div button {
  height: 70px;
  width: 230px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 20px;
  background: none;
  border: 3px solid var(--sap-green);
  border-radius: 35px;
  margin: 20px 0 20px 0;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}

.container .hero .projects-link .portfolio-div button .text {
  font-size: 15px;
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
}

.container .hero .projects-link .portfolio-div button ion-icon {
  color: var(--sap-green);
  font-size: 60px;
  margin-right: 5px;
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
}

.container .hero .projects-link .portfolio-div button:hover {
  border-color: cyan;
}

.container .hero .projects-link .portfolio-div button:hover ion-icon {
  -webkit-transform: translateX(165px);
          transform: translateX(165px);
  color: cyan;
}

.container .hero .projects-link .portfolio-div button:hover .text {
  -webkit-transform: translateX(-35px);
          transform: translateX(-35px);
  color: cyan;
}

.container .hero .projects-link .portfolio-div button:hover #cursor {
  height: 100px;
  width: 100px;
}

/* ------- FLOATING SOCIAL ICONS ------- */
.social-icons {
  position: fixed;
  right: 50px;
  bottom: 10px;
  z-index: 5;
}

.social-icons ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.social-icons ul li {
  list-style: none;
  margin-top: 30px;
}

.social-icons ul li a {
  text-decoration: none;
}

.social-icons ul li a ion-icon {
  font-size: 30px;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.social-icons ul li a ion-icon:hover {
  color: var(--sap-green);
}

/* ------- RESPONSIVE CONSTRAINTS ------- */
@media (max-width: 768px) {
  body {
    padding: 0 20px;
  }
  .hamburger .line {
    display: block;
  }
  nav .link-holder ul {
    display: none;
  }
  nav .link-holder .toggle-switch {
    display: none;
  }
  .container {
    padding: 0;
  }
  .container .hero h1 {
    font-size: 2.7em;
  }
  .container .hero h2 {
    font-size: 1.5em;
  }
  .container .hero h4 {
    font-size: 1.5em;
  }
  .social-icons {
    right: 20px;
  }
  #cursor {
    display: none;
  }
}
/*# sourceMappingURL=style.css.map */