:root {
  --sap-green: #58C6A1;
  --dark-green: #2a8869;
  --white: #d9e8f7;
  --primaryBlue: #4082EA;
  --primaryYellow: #f9f97c;
  --primaryPurple: #5944C7;
  --lightPurple: #6648ff;
  --primaryPink: #DD5D98;
  --grey: #707070;
}

* {
  font-family: 'Lato', sans-serif;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  color: var(--grey);
  background-color: var(--background);
}

body h1 {
  font-size: 2.5em;
}

body h4 {
  font-size: 1.2em;
}

body p {
  font-size: 1.2em;
}

.loader-container {
  width: 100vw;
  height: 100vh;
  position: fixed;
  background: #292929;
  z-index: 100;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.loader-container .loader {
  width: 50px;
  height: 50px;
  border: 5px solid;
  color: cyan;
  border-radius: 100%;
  border-top: transparent;
  border-left: transparent;
  -webkit-animation: spin 1.2s infinite;
          animation: spin 1.2s infinite;
}

@-webkit-keyframes spin {
  25% {
    color: salmon;
  }
  50% {
    color: var(--lightPurple);
  }
  75% {
    color: var(--sap-green);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spin {
  25% {
    color: salmon;
  }
  50% {
    color: var(--lightPurple);
  }
  75% {
    color: var(--sap-green);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

/* ------- MOBILE NAVIGATION ------- */
#mobile-menu {
  height: 100vh;
  width: 100vw;
  opacity: 0;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  top: 0;
  left: 0;
  background-color: var(--primaryYellow);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  z-index: -1;
}

#mobile-menu ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#mobile-menu ul li {
  font-size: 3em;
  margin-bottom: 20px;
}

#mobile-menu ul li a {
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

#mobile-menu ul li a:hover {
  color: var(--primaryBlue);
}

.hamburger {
  position: absolute;
  top: 20px;
  right: 15px;
  z-index: 5;
}

.hamburger .line {
  width: 30px;
  height: 2px;
  background-color: var(--white);
  display: none;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.hamburger .line:nth-child(2) {
  width: 25px;
  margin-right: 0;
}

.hamburger:hover {
  cursor: pointer;
}

@-webkit-keyframes smallbig {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes smallbig {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.toggle-hamburger .hamburger {
  -webkit-animation: smallbig 0.6s forwards;
          animation: smallbig 0.6s forwards;
}

.toggle-hamburger .hamburger .line:nth-child(1), .toggle-hamburger .hamburger .line:nth-child(2), .toggle-hamburger .hamburger .line:nth-child(3) {
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
}

.toggle-hamburger .hamburger .line:nth-child(2) {
  opacity: 0;
}

.toggle-hamburger .hamburger .line:nth-child(1) {
  -webkit-transform: translateY(7px) rotate(45deg);
          transform: translateY(7px) rotate(45deg);
}

.toggle-hamburger .hamburger .line:nth-child(3) {
  -webkit-transform: translateY(-7px) rotate(-45deg);
          transform: translateY(-7px) rotate(-45deg);
}

.toggle-hamburger #mobile-menu {
  opacity: 1;
  z-index: 5;
}

/* ------- NAVIGATION BAR ------- */
nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 70px;
  padding: 10px 50px;
}

nav span a {
  color: var(--white);
  font-weight: 400;
  text-decoration: none;
  -webkit-transition: 0.1s ease-in-out;
  transition: 0.1s ease-in-out;
}

nav span a:hover {
  color: var(--lightPurple);
}

nav .link-holder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav .link-holder ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

nav .link-holder ul li {
  margin-left: 30px;
}

nav .link-holder ul li a {
  color: var(--white);
  text-decoration: none;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  font-weight: 500;
}

nav .link-holder ul li a:hover {
  color: var(--primaryYellow);
}

/* ------- MAIN ------- */
.hero-and-nav {
  background-image: url(/assets/hero-bg-01.png);
  background-size: cover;
}

.container {
  height: 100%;
  padding: 50px 20%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/* ------- HERO ------- */
.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  min-height: 80vh;
  color: var(--white);
}

.hero .profile-img {
  height: 160px;
  border-radius: 100%;
  margin-bottom: 30px;
}

.hero h1 {
  margin-bottom: 10px;
}

.hero h4 {
  font-weight: 400;
  margin-bottom: 40px;
}

.hero p {
  margin-bottom: 40px;
}

.hero button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 20px;
  border-radius: 10px;
  color: white;
  border: 2px solid white;
  background: none;
  cursor: pointer;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  margin-bottom: 40px;
}

.hero button a {
  color: white;
}

.hero button ion-icon {
  font-size: 20px;
  margin-left: 5px;
}

.hero button:hover {
  color: var(--primaryYellow);
  border-color: var(--primaryYellow);
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.hero .social-icons ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.hero .social-icons ul li {
  list-style: none;
  margin: 0 10px;
}

.hero .social-icons ul li a {
  text-decoration: none;
}

.hero .social-icons ul li a ion-icon, .hero .social-icons ul li a img {
  font-size: 35px;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.hero .social-icons ul li a ion-icon:hover, .hero .social-icons ul li a img:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

/* ------- ABOUT ------- */
.about {
  background-image: url(/assets/hero-bg-2-02.png);
  background-size: cover;
}

#about h1 {
  margin-bottom: 40px;
}

#about .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

#about .row button {
  padding: 10px 20px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  margin-bottom: 20px;
}

#about .row .about-sect {
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

#about .row .about-sect p {
  margin: 15px 0;
}

#about .row .about-sect ul {
  list-style: inside url(/assets/list-icon.png);
}

#about .row .about-sect ul li {
  margin: 10px 0;
  font-size: 1.1em;
}

.skill {
  color: var(--primaryPurple);
  padding: 5px 10px;
  border: 2px solid var(--primaryPurple);
  border-radius: 10px;
  margin: 5px 10px 5px 0;
}

.about-active {
  background-image: -webkit-gradient(linear, left top, left bottom, from(var(--lightPurple)), to(var(--primaryPurple)));
  background-image: linear-gradient(to bottom, var(--lightPurple), var(--primaryPurple));
}

.about-active p {
  color: white;
}

/* ------- PROJECTS ------- */
.projects {
  background-color: aliceblue;
}

#projects h1 {
  margin-bottom: 40px;
}

#projects .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#projects .card {
  width: 45%;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  cursor: pointer;
  margin-right: 5%;
  margin-bottom: 20px;
}

#projects .card img {
  border-radius: 15px;
}

#projects .card .card-desc {
  padding: 15px 15px 15px 15px;
  -webkit-box-shadow: grey 2px 3px;
          box-shadow: grey 2px 3px;
  border-radius: 15px;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

#projects .card .card-desc h3 {
  margin-bottom: 10px;
}

#projects .card:hover {
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
}

#projects .card:hover .card-desc {
  background-color: whitesmoke;
}

/* ------- FOOTER ------- */
.resume {
  background-color: #5944C7;
  color: white;
}

.resume #resume {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  text-align: center;
}

.resume h1 {
  margin-bottom: 40px;
}

.resume ion-icon {
  margin: 25px 0;
  font-size: 50px;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.resume ion-icon:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

/* ------- FOOTER ------- */
.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 30px 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/* ------- RESPONSIVE CONSTRAINTS ------- */
@media (max-width: 768px) {
  .hamburger .line {
    display: block;
  }
  nav {
    padding-left: 20px;
  }
  nav .link-holder ul {
    display: none;
  }
  .container {
    padding: 50px 20px;
  }
  .container #about .row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .container #about .row img {
    width: 100%;
  }
  .container #projects .card {
    width: 100%;
    margin-right: 0;
  }
}
/*# sourceMappingURL=style.css.map */