:root {
    --sap-green : #58C6A1;
    --dark-green : #2a8869;
    --background : #F7FAFD;
    --primaryBlue: #4082EA;
    --grey : #707070;
}

* {
    color: var(--grey);
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--background);
    padding: 10px 50px;
}

/* ------- CURSOR ------- */
#cursor {
    position: absolute;
    height: 50px;
    width: 50px;
    box-sizing: border-box;
    transition: 0.1s ease-in-out;
    transform: translate(-50%, -50%);
    border: 1px solid var(--sap-green);
    border-radius: 50%;
    pointer-events: none;
    animation: pulse 1s linear infinite;
}

@keyframes pulse {
    0% {
        transform: translate(-50%, -50%) scale(1);
    }
    50% {
        transform: translate(-50%, -50%) scale(1.5);
    }
    100% {
        transform: translate(-50%, -50%) scale(1);
    }
}

/* ------- MOBILE NAVIGATION ------- */
#mobile-menu {
    height: 100vh;
    width: 100vw;
    opacity: 0;
    position: absolute;
    display: flex;
    top: 0;
    left: 0;
    background-color: #2a8869;
    justify-content: center;
    align-items: center;
    transition: all 0.4s ease-in-out;
    z-index: -1;
    
    ul {
        list-style: none;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        li {
           font-size: 3em; 
           margin-bottom: 20px;
        
           a {
               transition: 0.2s ease-in-out;
           }

           a:hover {
               color: var(--background);
           }
        }
    }
}

.hamburger {
    position: absolute;
    top: 20px;
    right: 15px;
    z-index: 5;

    .line {
        width: 30px;
        height: 2px;
        background-color: var(--grey);
        display: none;
        margin: 5px auto;
        transition: all 0.3s ease-in-out;
    }

    .line:nth-child(2) { 
        width: 25px; 
        margin-right: 0;
    }

    &:hover{
        cursor: pointer;
    }
}

@keyframes smallbig{
    0% { transform: scale(1); }
    50% { transform: scale(0); }
    100% { transform: scale(1); }
}

.toggle-hamburger {
    .hamburger {
        animation: smallbig 0.6s forwards;

        .line:nth-child(1), .line:nth-child(2), .line:nth-child(3){
            transition-delay: 0.2s;
        }
          
        .line:nth-child(2){
            opacity: 0;
        }
          
        .line:nth-child(1){
            transform: translateY(7px) rotate(45deg);
        }
          
        .line:nth-child(3){
            transform: translateY(-7px) rotate(-45deg);
        }
    }

    #mobile-menu {
        opacity: 1;
        z-index: 5;
    }

    .social-icons {
        ion-icon:hover {
            color: var(--background);
        }
    }
}

/* ------- NAVIGATION BAR ------- */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;

    span {
        a {
            font-weight: 400;
            text-decoration: none;
            transition: 0.3s ease-in-out;
        }

        a:hover {
            color: var(--primaryBlue);
        }
    }

    .link-holder {
        display: flex; 
        justify-content: center; 
        align-items: center;

        ul {
            list-style: none;
            display: flex;

            li {
                margin-left: 30px;

                a {
                    text-decoration:none;
                    transition: 0.2s ease-in-out;

                    &:hover {
                        color: var(--primaryBlue);
                    }
                }
            }
        }

        
    }
}

/* ------- HERO SECTION ------- */
.container {
    height: calc(100vh - 90px);
    margin: 0 20%;
    display: flex;
    justify-content: center;
    align-items: center;

    .hero {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;

        .profile-img {
            border-radius: 100%;
            margin-bottom: 40px;
        }

        h1 { 
            font-size: 2.5em; 
            margin-bottom: 10px;
        }

        h4 {
            font-size: 1.2em;
            font-weight: 400;
            margin-bottom: 40px;
        }
        
        p {
            font-size: 1.2em;
            margin-bottom: 60px;
        }

        .social-icons {
            ul {
                display: flex;
                flex-direction: row;
                
                li {
                    list-style: none;
                    margin: 0 10px;
        
                    a {
                        text-decoration: none;
        
                        ion-icon, img {
                            font-size: 30px;
                            transition: 0.2s ease-in-out;

                            &:hover {
                                transform: scale(1.2);
                            }
                        }
                    }
                }
            }
        }
    }
}

/* ------- RESPONSIVE CONSTRAINTS ------- */
@media (max-width: 768px) {
    // Body
    body { 
        padding: 0 20px;
    }

    // Mobile navigation
    .hamburger {
        .line { display: block; }
    }

    // Main navigation
    nav {
        .link-holder {
            ul { display: none; }
        }
    }

    .container {
        padding: 30px 0;
        margin: 0;
    }

    // Cursor
    #cursor { display: none; }
}